<div class="container clearfix">
  <div class="col-md-12 no-padding" style="z-index: 2 !important">
    <div class="heading">
      <div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">ABOUT ME</div>
      <p>
        Enthusiastic and passionate about brain-computer interface, computational intelligence, and natural language processing for human-centred computing.
      </p>
    </div>
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-appear data-animation="fadeInLeft">
        <img src="images/me.png" alt="">
      </div>
      <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8" ui-appear data-animation="fadeInRight">
        <div class="aboutme-name">Xinping Liu</div>
        <div class="aboutme-sub-heading">Python | Java | MATLAB | SQL | C# .NET Core/Framework | Typescript</div>
         <p class="aboutme-p">      
            Proficiency skilled in Distributed Database Architecture - MSSQL/MySQL.<br> 
            Proficiency skilled in OOP design (C#/Java/Python) in encapsulation, abstraction, inheritance, and delegate.<br>
            Proficiency skilled in MATLAB Scripting and Programming.<br>   
            Highly skilled in C# .NET Core/Framework Async Programming Patterns.<br> 
            Highly skilled in .NET MVC Design Pattern and Web API implementation.
          <p>
            <a href="#contact" class="aboutme-btn" du-smooth-scroll> Contact me</a>
      </div>
    </div>
  </div>
</div>
