<div class="container clearfix">
  <div class="col-md-12 no-padding" style="z-index: 2 !important">
    <div class="heading">
      <div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">ABOUT ME</div>
      <p>
        Enthusiastic and passionate about cutting-edge technologies and design patterns. Moving towards an architect.
      </p>
    </div>
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-appear data-animation="fadeInLeft">
        <img src="images/me.png" alt="">
      </div>
      <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8" ui-appear data-animation="fadeInRight">
        <div class="aboutme-name">Jack Liu</div>
        <div class="aboutme-sub-heading">Typescript | ES6 | ReactJS | C#.NET Core | T-SQL | Docker | AWS | Azure</div>
                  <p class="aboutme-p">
                    Highly skilled in Typescript, ES6, ReactJS and NextJS.
                    <br />
                    Highly skilled in Respensive Framework e.g. Bootstrap.
                    <br />
                    Highly skilled in Distributed Database Design (MSSQL/MySQL/PostgreSQL).
                    <br />
                    Highly skilled in Legacy Data Analysis & Cleaning by
                    T-SQL/Python.
                    <br />
                    Proficiency skilled in OOP design C#.NET in encapsulation,
                    abstraction, inheritance, and delegate.
                    <br />
                    Proficiency skilled in C# .NET 6.0/Core/Framework Async
                    Programming Patterns.
                    <br />
                    Proficiency skilled in ASP.NET MVC Design and Web API 2
                    implementation.
                    <br />
                    Proficiency skilled in Azure Kubernetes Services (AKS),
                    Docker, Kubernetes, CI/CD on Azure.
                  </p>
            <a href="#contact" class="aboutme-btn" du-smooth-scroll> Contact me</a>
      </div>
    </div>
  </div>
</div>
